-- CreateTable
CREATE TABLE "empresas" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "cuit" TEXT NOT NULL,
    "logoUrl" TEXT,
    "plan" TEXT NOT NULL DEFAULT 'BASIC',
    "usuariosExtra" INTEGER NOT NULL DEFAULT 0,
    "modulos" TEXT[] DEFAULT ARRAY['ADMIN', 'INVENTARIO', 'COMERCIAL']::TEXT[],
    "activa" BOOLEAN NOT NULL DEFAULT true,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizadoEn" TIMESTAMP(3) NOT NULL,
    "vencimiento" TIMESTAMP(3),
    "pais" TEXT NOT NULL DEFAULT 'AR',
    "moneda" TEXT NOT NULL DEFAULT 'ARS',

    CONSTRAINT "empresas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auditorias_cancelacion" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "clienteNombre" TEXT,
    "monto" DOUBLE PRECISION NOT NULL,
    "unidades" INTEGER NOT NULL,
    "motivo" TEXT NOT NULL,
    "itemsJson" JSONB,
    "fechaInicio" TIMESTAMP(3) NOT NULL,
    "fechaCancelacion" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "auditorias_cancelacion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "importaciones_staging" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "archivoUrl" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "estado" TEXT NOT NULL DEFAULT 'PENDIENTE',
    "jsonData" JSONB,
    "notas" TEXT,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ejecutadoEn" TIMESTAMP(3),

    CONSTRAINT "importaciones_staging_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "usuarios" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "email" TEXT,
    "passwordHash" TEXT NOT NULL,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "debeCambiarPassword" BOOLEAN NOT NULL DEFAULT true,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "identificadorNacional" TEXT,

    CONSTRAINT "usuarios_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "membresias" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "rol" TEXT NOT NULL DEFAULT 'OPERADOR',
    "tarifaVenta" TEXT NOT NULL DEFAULT 'PRECIO_FINAL',
    "permisos" TEXT[] DEFAULT ARRAY['VENTAS']::TEXT[],
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "preferencias" JSONB DEFAULT '{}',
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "membresias_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "insumos" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "codigoInterno" TEXT,
    "tipo" TEXT NOT NULL,
    "categoria" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "descripcion" TEXT,
    "unidad" TEXT,
    "composicion" TEXT,
    "gramaje" INTEGER,
    "ancho" DOUBLE PRECISION,
    "color" TEXT,
    "fotoUrl" TEXT,
    "fichaTecnicaUrl" TEXT,
    "stockActual" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "stockMinimo" DOUBLE PRECISION DEFAULT 0,
    "codigoBarra" TEXT,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizadoEn" TIMESTAMP(3) NOT NULL,
    "talle" TEXT,
    "especificaciones" TEXT,
    "proveedorId" TEXT,

    CONSTRAINT "insumos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "movimientos_stock" (
    "id" TEXT NOT NULL,
    "insumoId" TEXT,
    "productoTalleId" TEXT,
    "tipo" TEXT NOT NULL,
    "cantidad" DOUBLE PRECISION NOT NULL,
    "motivo" TEXT,
    "pedidoId" TEXT,
    "usuarioId" TEXT,
    "proveedorId" TEXT,
    "costoUnitario" DOUBLE PRECISION,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "movimientos_stock_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "proveedores" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "razonSocial" TEXT,
    "cuit" TEXT,
    "dirLegalCalle" TEXT,
    "dirLegalNro" TEXT,
    "dirLegalPiso" TEXT,
    "dirLegalCiudad" TEXT,
    "dirLegalProvincia" TEXT,
    "dirLegalCP" TEXT,
    "dirRealCalle" TEXT,
    "dirRealNro" TEXT,
    "dirRealPiso" TEXT,
    "dirRealCiudad" TEXT,
    "dirRealProvincia" TEXT,
    "dirRealCP" TEXT,
    "formaPago" TEXT,
    "diasPago" INTEGER DEFAULT 0,
    "tiempoEntrega" TEXT,
    "medioPedido" TEXT,
    "telefono" TEXT,
    "email" TEXT,
    "contactoNombre" TEXT,
    "rubro" TEXT,
    "notas" TEXT,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizadoEn" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "proveedores_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "precios_insumos" (
    "id" TEXT NOT NULL,
    "insumoId" TEXT NOT NULL,
    "costo" DOUBLE PRECISION NOT NULL,
    "fechaDesde" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "motivo" TEXT,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "precios_insumos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "insumo_proveedores" (
    "id" TEXT NOT NULL,
    "insumoId" TEXT NOT NULL,
    "proveedorId" TEXT NOT NULL,
    "codigoReferencia" TEXT,
    "costo" DOUBLE PRECISION,
    "tiempoEntrega" TEXT,
    "leadTimeDays" INTEGER,
    "esPrincipal" BOOLEAN NOT NULL DEFAULT false,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "insumo_proveedores_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "producto_proveedores" (
    "id" TEXT NOT NULL,
    "productoId" TEXT NOT NULL,
    "proveedorId" TEXT NOT NULL,
    "codigoReferencia" TEXT,
    "costo" DOUBLE PRECISION,
    "tiempoEntrega" TEXT,
    "esPrincipal" BOOLEAN NOT NULL DEFAULT false,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "producto_proveedores_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "productos" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tipo" TEXT NOT NULL DEFAULT 'FABRICADO',
    "tipoVenta" TEXT NOT NULL DEFAULT 'UNIDAD',
    "temporada" TEXT DEFAULT 'TODO EL A├æO',
    "costoCompra" DOUBLE PRECISION,
    "codigoBarra" TEXT,
    "categoriaId" TEXT,
    "subCategoriaId" TEXT,
    "institucionId" TEXT,
    "actualizadoEn" TIMESTAMP(3) NOT NULL,
    "metadata" JSONB,
    "precioFinal" DOUBLE PRECISION,
    "precioRevendedor" DOUBLE PRECISION,
    "precioEmpresa" DOUBLE PRECISION,
    "precioRevendido" DOUBLE PRECISION,
    "margenObjetivo" DOUBLE PRECISION,

    CONSTRAINT "productos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "producto_bordados" (
    "id" TEXT NOT NULL,
    "productoId" TEXT NOT NULL,
    "bordadoId" TEXT NOT NULL,
    "posicion" TEXT,

    CONSTRAINT "producto_bordados_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bordados" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "descripcion" TEXT,
    "puntadas" INTEGER NOT NULL DEFAULT 0,
    "precioPorMillar" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "costoPonchado" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "marginTerceros" DOUBLE PRECISION NOT NULL DEFAULT 30,
    "precioFinal" DOUBLE PRECISION,
    "precioRevendedor" DOUBLE PRECISION,
    "precioEmpresa" DOUBLE PRECISION,
    "precioRevendido" DOUBLE PRECISION,
    "fotoUrl" TEXT,
    "archivoMatrizUrl" TEXT,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizadoEn" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "bordados_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "categorias_productos" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "descripcion" TEXT,
    "dibujoUrl" TEXT,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "parentId" TEXT,

    CONSTRAINT "categorias_productos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sub_categorias_productos" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "categoriaId" TEXT NOT NULL,

    CONSTRAINT "sub_categorias_productos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "curvas_talles" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,

    CONSTRAINT "curvas_talles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "talles_items" (
    "id" TEXT NOT NULL,
    "curvaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "orden" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "talles_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "puntos_medicion" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "categoriaId" TEXT,

    CONSTRAINT "puntos_medicion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "medidas_base_categorias" (
    "id" TEXT NOT NULL,
    "categoriaId" TEXT NOT NULL,
    "talle" TEXT NOT NULL,
    "puntoId" TEXT NOT NULL,
    "valorCm" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "medidas_base_categorias_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "medidas_talles" (
    "id" TEXT NOT NULL,
    "productoId" TEXT NOT NULL,
    "talle" TEXT NOT NULL,
    "puntoId" TEXT NOT NULL,
    "valorCm" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "medidas_talles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "imagenes_productos" (
    "id" TEXT NOT NULL,
    "productoId" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "etiqueta" TEXT NOT NULL,
    "posicion" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "imagenes_productos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "insumos_productos" (
    "id" TEXT NOT NULL,
    "productoId" TEXT NOT NULL,
    "insumoId" TEXT NOT NULL,
    "cantidad" DOUBLE PRECISION NOT NULL,
    "consumoVariable" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "insumos_productos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "productos_talles" (
    "id" TEXT NOT NULL,
    "productoId" TEXT NOT NULL,
    "talle" TEXT NOT NULL,
    "pesoKg" DOUBLE PRECISION,
    "metrosTela" DOUBLE PRECISION,
    "referenciaMolderia" TEXT,
    "codigoBarra" TEXT,
    "precioVenta" DOUBLE PRECISION,
    "stockActual" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "entregado" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "productos_talles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "clientes" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "apellido" TEXT,
    "telefono" TEXT,
    "email" TEXT,
    "direccion" TEXT,
    "razonSocial" TEXT,
    "cuit" TEXT,
    "condicionIva" TEXT NOT NULL DEFAULT 'CONSUMIDOR_FINAL',
    "tipoFactura" TEXT NOT NULL DEFAULT 'C',
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "vencimiento" TIMESTAMP(3),
    "ultimoCobro" TIMESTAMP(3),
    "configSuscripcion" JSONB,
    "documentos" JSONB,
    "saldo" DOUBLE PRECISION NOT NULL DEFAULT 0,

    CONSTRAINT "clientes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "instituciones" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "tipo" TEXT NOT NULL DEFAULT 'COLEGIO',
    "logoUrl" TEXT,
    "contacto" TEXT,
    "telefono" TEXT,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "instituciones_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "listas_precios" (
    "id" TEXT NOT NULL,
    "institucionId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "activa" BOOLEAN NOT NULL DEFAULT true,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizadaEn" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "listas_precios_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "items_lista" (
    "id" TEXT NOT NULL,
    "listaId" TEXT NOT NULL,
    "productoNombre" TEXT NOT NULL,
    "talle" TEXT NOT NULL,
    "precioPublico" DOUBLE PRECISION NOT NULL,
    "costoBase" DOUBLE PRECISION NOT NULL,
    "margenBruto" DOUBLE PRECISION NOT NULL,
    "margenNeto" DOUBLE PRECISION NOT NULL,
    "actualizadoEn" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "items_lista_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "presupuestos" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "numero" INTEGER NOT NULL,
    "clienteId" TEXT,
    "institucionId" TEXT,
    "clienteNombre" TEXT,
    "clienteContacto" TEXT,
    "clienteTelefono" TEXT,
    "modoPago" TEXT NOT NULL DEFAULT 'TRANSFERENCIA',
    "descuento" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "recargo" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "senia" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "subtotal" DOUBLE PRECISION NOT NULL,
    "total" DOUBLE PRECISION NOT NULL,
    "tipoVencimiento" TEXT NOT NULL DEFAULT 'CORRIDOS',
    "diasVigencia" INTEGER NOT NULL DEFAULT 15,
    "fechaVencimiento" TIMESTAMP(3),
    "subtotalGravado" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "impuestosIva" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "versionDe" TEXT,
    "costoTotalSnapshot" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "canal" TEXT NOT NULL DEFAULT 'GESTION',
    "estado" TEXT NOT NULL DEFAULT 'VIGENTE',
    "vigenciaHasta" TIMESTAMP(3),
    "pagado" BOOLEAN NOT NULL DEFAULT false,
    "requiereFactura" BOOLEAN NOT NULL DEFAULT false,
    "entregadoTodo" BOOLEAN NOT NULL DEFAULT false,
    "cuotas" INTEGER NOT NULL DEFAULT 1,
    "recargoPct" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "notas" TEXT,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizadoEn" TIMESTAMP(3) NOT NULL,
    "membresiaId" TEXT,
    "membresiaFinalizaId" TEXT,

    CONSTRAINT "presupuestos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lineas_presupuesto" (
    "id" TEXT NOT NULL,
    "presupuestoId" TEXT NOT NULL,
    "tipoItem" TEXT NOT NULL DEFAULT 'PRODUCTO',
    "productoId" TEXT,
    "productoNombre" TEXT NOT NULL,
    "talle" TEXT,
    "bordado" TEXT,
    "estampado" TEXT,
    "cantidad" INTEGER NOT NULL,
    "precioBordado" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "precioEstampado" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "precioUnitario" DOUBLE PRECISION NOT NULL,
    "subtotal" DOUBLE PRECISION NOT NULL,
    "costoUnitarioSnapshot" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "entregado" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "lineas_presupuesto_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pedidos" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "numero" INTEGER NOT NULL,
    "presupuestoId" TEXT NOT NULL,
    "estado" TEXT NOT NULL DEFAULT 'PENDIENTE_INSUMOS',
    "canal" TEXT NOT NULL DEFAULT 'GESTION',
    "fechaEntrega" TIMESTAMP(3),
    "notas" TEXT,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizadoEn" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "pedidos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ordenes_trabajo" (
    "id" TEXT NOT NULL,
    "pedidoId" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "descripcion" TEXT,
    "completada" BOOLEAN NOT NULL DEFAULT false,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ordenes_trabajo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cuentas" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "activa" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "cuentas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "movimientos" (
    "id" TEXT NOT NULL,
    "cuentaId" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "concepto" TEXT NOT NULL,
    "importe" DOUBLE PRECISION NOT NULL,
    "fecha" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "usuarioId" TEXT,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "movimientos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "configuracion" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "clave" TEXT NOT NULL,
    "valor" TEXT NOT NULL,

    CONSTRAINT "configuracion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notificaciones" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "titulo" TEXT NOT NULL,
    "mensaje" TEXT NOT NULL,
    "tipo" TEXT NOT NULL DEFAULT 'INFO',
    "leida" BOOLEAN NOT NULL DEFAULT false,
    "usuarioId" TEXT,
    "metadata" JSONB,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notificaciones_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ordenes_compra" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "proveedorId" TEXT NOT NULL,
    "numero" SERIAL NOT NULL,
    "estado" TEXT NOT NULL DEFAULT 'BORRADOR',
    "fechaEmision" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "fechaEntregaEstimada" TIMESTAMP(3),
    "totalEstimado" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "notas" TEXT,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizadoEn" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ordenes_compra_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lineas_orden_compra" (
    "id" TEXT NOT NULL,
    "ordenCompraId" TEXT NOT NULL,
    "insumoId" TEXT,
    "productoId" TEXT,
    "talle" TEXT,
    "cantidadPedida" DOUBLE PRECISION NOT NULL,
    "cantidadRecibida" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "costoUnitarioEstimado" DOUBLE PRECISION NOT NULL,
    "subtotal" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "lineas_orden_compra_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "recepciones_mercaderia" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "proveedorId" TEXT NOT NULL,
    "ordenCompraId" TEXT,
    "nroRemito" TEXT,
    "fechaRecepcion" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "notas" TEXT,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "recepciones_mercaderia_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lineas_recepcion" (
    "id" TEXT NOT NULL,
    "recepcionId" TEXT NOT NULL,
    "insumoId" TEXT,
    "productoTalleId" TEXT,
    "cantidadRecibida" DOUBLE PRECISION NOT NULL,
    "costoUnitarioReal" DOUBLE PRECISION NOT NULL,
    "lineaOrdenCompraId" TEXT,

    CONSTRAINT "lineas_recepcion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cambios_precio_programados" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "targetId" TEXT,
    "porcentaje" DOUBLE PRECISION NOT NULL,
    "fechaEjecucion" TIMESTAMP(3) NOT NULL,
    "ejecutado" BOOLEAN NOT NULL DEFAULT false,
    "usuarioId" TEXT NOT NULL,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "cambios_precio_programados_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "comprobantes" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "numero" TEXT NOT NULL,
    "fecha" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "total" DOUBLE PRECISION NOT NULL,
    "metodoPago" TEXT,
    "esOficial" BOOLEAN NOT NULL DEFAULT false,
    "notas" TEXT,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "clienteId" TEXT,
    "proveedorId" TEXT,
    "pedidoId" TEXT,

    CONSTRAINT "comprobantes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "movimientos_cc" (
    "id" TEXT NOT NULL,
    "empresaId" TEXT NOT NULL,
    "clienteId" TEXT,
    "proveedorId" TEXT,
    "comprobanteId" TEXT,
    "fecha" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tipo" TEXT NOT NULL,
    "importe" DOUBLE PRECISION NOT NULL,
    "saldoResultante" DOUBLE PRECISION NOT NULL,
    "descripcion" TEXT,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "movimientos_cc_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "etapas_pedido" (
    "id" TEXT NOT NULL,
    "pedidoId" TEXT NOT NULL,
    "nombreEtapa" TEXT NOT NULL,
    "estado" TEXT NOT NULL DEFAULT 'PENDIENTE',
    "usuarioId" TEXT,
    "fechaInicio" TIMESTAMP(3),
    "fechaFin" TIMESTAMP(3),
    "notas" TEXT,
    "creadoEn" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "etapas_pedido_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "empresas_nombre_key" ON "empresas"("nombre");

-- CreateIndex
CREATE UNIQUE INDEX "empresas_cuit_key" ON "empresas"("cuit");

-- CreateIndex
CREATE UNIQUE INDEX "usuarios_email_key" ON "usuarios"("email");

-- CreateIndex
CREATE UNIQUE INDEX "usuarios_identificadorNacional_key" ON "usuarios"("identificadorNacional");

-- CreateIndex
CREATE UNIQUE INDEX "membresias_usuarioId_empresaId_key" ON "membresias"("usuarioId", "empresaId");

-- CreateIndex
CREATE UNIQUE INDEX "insumos_tipo_nombre_talle_empresaId_key" ON "insumos"("tipo", "nombre", "talle", "empresaId");

-- CreateIndex
CREATE UNIQUE INDEX "proveedores_nombre_empresaId_key" ON "proveedores"("nombre", "empresaId");

-- CreateIndex
CREATE UNIQUE INDEX "insumo_proveedores_insumoId_proveedorId_key" ON "insumo_proveedores"("insumoId", "proveedorId");

-- CreateIndex
CREATE UNIQUE INDEX "producto_proveedores_productoId_proveedorId_key" ON "producto_proveedores"("productoId", "proveedorId");

-- CreateIndex
CREATE UNIQUE INDEX "productos_nombre_empresaId_key" ON "productos"("nombre", "empresaId");

-- CreateIndex
CREATE UNIQUE INDEX "bordados_nombre_empresaId_key" ON "bordados"("nombre", "empresaId");

-- CreateIndex
CREATE UNIQUE INDEX "categorias_productos_nombre_empresaId_key" ON "categorias_productos"("nombre", "empresaId");

-- CreateIndex
CREATE UNIQUE INDEX "sub_categorias_productos_nombre_categoriaId_empresaId_key" ON "sub_categorias_productos"("nombre", "categoriaId", "empresaId");

-- CreateIndex
CREATE UNIQUE INDEX "curvas_talles_nombre_empresaId_key" ON "curvas_talles"("nombre", "empresaId");

-- CreateIndex
CREATE UNIQUE INDEX "medidas_base_categorias_categoriaId_talle_puntoId_key" ON "medidas_base_categorias"("categoriaId", "talle", "puntoId");

-- CreateIndex
CREATE UNIQUE INDEX "insumos_productos_productoId_insumoId_key" ON "insumos_productos"("productoId", "insumoId");

-- CreateIndex
CREATE UNIQUE INDEX "productos_talles_productoId_talle_key" ON "productos_talles"("productoId", "talle");

-- CreateIndex
CREATE UNIQUE INDEX "clientes_nombre_empresaId_key" ON "clientes"("nombre", "empresaId");

-- CreateIndex
CREATE UNIQUE INDEX "instituciones_nombre_empresaId_key" ON "instituciones"("nombre", "empresaId");

-- CreateIndex
CREATE UNIQUE INDEX "presupuestos_numero_key" ON "presupuestos"("numero");

-- CreateIndex
CREATE UNIQUE INDEX "pedidos_numero_key" ON "pedidos"("numero");

-- CreateIndex
CREATE UNIQUE INDEX "pedidos_presupuestoId_key" ON "pedidos"("presupuestoId");

-- CreateIndex
CREATE UNIQUE INDEX "cuentas_nombre_empresaId_key" ON "cuentas"("nombre", "empresaId");

-- CreateIndex
CREATE UNIQUE INDEX "configuracion_clave_empresaId_key" ON "configuracion"("clave", "empresaId");

-- CreateIndex
CREATE UNIQUE INDEX "ordenes_compra_numero_empresaId_key" ON "ordenes_compra"("numero", "empresaId");

-- AddForeignKey
ALTER TABLE "auditorias_cancelacion" ADD CONSTRAINT "auditorias_cancelacion_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "auditorias_cancelacion" ADD CONSTRAINT "auditorias_cancelacion_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "usuarios"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "importaciones_staging" ADD CONSTRAINT "importaciones_staging_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "membresias" ADD CONSTRAINT "membresias_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "usuarios"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "membresias" ADD CONSTRAINT "membresias_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "insumos" ADD CONSTRAINT "insumos_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "movimientos_stock" ADD CONSTRAINT "movimientos_stock_insumoId_fkey" FOREIGN KEY ("insumoId") REFERENCES "insumos"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "movimientos_stock" ADD CONSTRAINT "movimientos_stock_productoTalleId_fkey" FOREIGN KEY ("productoTalleId") REFERENCES "productos_talles"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "movimientos_stock" ADD CONSTRAINT "movimientos_stock_pedidoId_fkey" FOREIGN KEY ("pedidoId") REFERENCES "pedidos"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "movimientos_stock" ADD CONSTRAINT "movimientos_stock_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "usuarios"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "movimientos_stock" ADD CONSTRAINT "movimientos_stock_proveedorId_fkey" FOREIGN KEY ("proveedorId") REFERENCES "proveedores"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "proveedores" ADD CONSTRAINT "proveedores_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "precios_insumos" ADD CONSTRAINT "precios_insumos_insumoId_fkey" FOREIGN KEY ("insumoId") REFERENCES "insumos"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "insumo_proveedores" ADD CONSTRAINT "insumo_proveedores_insumoId_fkey" FOREIGN KEY ("insumoId") REFERENCES "insumos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "insumo_proveedores" ADD CONSTRAINT "insumo_proveedores_proveedorId_fkey" FOREIGN KEY ("proveedorId") REFERENCES "proveedores"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "producto_proveedores" ADD CONSTRAINT "producto_proveedores_productoId_fkey" FOREIGN KEY ("productoId") REFERENCES "productos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "producto_proveedores" ADD CONSTRAINT "producto_proveedores_proveedorId_fkey" FOREIGN KEY ("proveedorId") REFERENCES "proveedores"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "productos" ADD CONSTRAINT "productos_categoriaId_fkey" FOREIGN KEY ("categoriaId") REFERENCES "categorias_productos"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "productos" ADD CONSTRAINT "productos_subCategoriaId_fkey" FOREIGN KEY ("subCategoriaId") REFERENCES "sub_categorias_productos"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "productos" ADD CONSTRAINT "productos_institucionId_fkey" FOREIGN KEY ("institucionId") REFERENCES "instituciones"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "productos" ADD CONSTRAINT "productos_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "producto_bordados" ADD CONSTRAINT "producto_bordados_productoId_fkey" FOREIGN KEY ("productoId") REFERENCES "productos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "producto_bordados" ADD CONSTRAINT "producto_bordados_bordadoId_fkey" FOREIGN KEY ("bordadoId") REFERENCES "bordados"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bordados" ADD CONSTRAINT "bordados_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "categorias_productos" ADD CONSTRAINT "categorias_productos_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "categorias_productos"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "categorias_productos" ADD CONSTRAINT "categorias_productos_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sub_categorias_productos" ADD CONSTRAINT "sub_categorias_productos_categoriaId_fkey" FOREIGN KEY ("categoriaId") REFERENCES "categorias_productos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sub_categorias_productos" ADD CONSTRAINT "sub_categorias_productos_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "curvas_talles" ADD CONSTRAINT "curvas_talles_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "talles_items" ADD CONSTRAINT "talles_items_curvaId_fkey" FOREIGN KEY ("curvaId") REFERENCES "curvas_talles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "puntos_medicion" ADD CONSTRAINT "puntos_medicion_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "puntos_medicion" ADD CONSTRAINT "puntos_medicion_categoriaId_fkey" FOREIGN KEY ("categoriaId") REFERENCES "categorias_productos"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "medidas_base_categorias" ADD CONSTRAINT "medidas_base_categorias_categoriaId_fkey" FOREIGN KEY ("categoriaId") REFERENCES "categorias_productos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "medidas_base_categorias" ADD CONSTRAINT "medidas_base_categorias_puntoId_fkey" FOREIGN KEY ("puntoId") REFERENCES "puntos_medicion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "medidas_talles" ADD CONSTRAINT "medidas_talles_productoId_fkey" FOREIGN KEY ("productoId") REFERENCES "productos"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "medidas_talles" ADD CONSTRAINT "medidas_talles_puntoId_fkey" FOREIGN KEY ("puntoId") REFERENCES "puntos_medicion"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "imagenes_productos" ADD CONSTRAINT "imagenes_productos_productoId_fkey" FOREIGN KEY ("productoId") REFERENCES "productos"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "insumos_productos" ADD CONSTRAINT "insumos_productos_productoId_fkey" FOREIGN KEY ("productoId") REFERENCES "productos"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "insumos_productos" ADD CONSTRAINT "insumos_productos_insumoId_fkey" FOREIGN KEY ("insumoId") REFERENCES "insumos"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "productos_talles" ADD CONSTRAINT "productos_talles_productoId_fkey" FOREIGN KEY ("productoId") REFERENCES "productos"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "clientes" ADD CONSTRAINT "clientes_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "instituciones" ADD CONSTRAINT "instituciones_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "listas_precios" ADD CONSTRAINT "listas_precios_institucionId_fkey" FOREIGN KEY ("institucionId") REFERENCES "instituciones"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "items_lista" ADD CONSTRAINT "items_lista_listaId_fkey" FOREIGN KEY ("listaId") REFERENCES "listas_precios"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "presupuestos" ADD CONSTRAINT "presupuestos_clienteId_fkey" FOREIGN KEY ("clienteId") REFERENCES "clientes"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "presupuestos" ADD CONSTRAINT "presupuestos_institucionId_fkey" FOREIGN KEY ("institucionId") REFERENCES "instituciones"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "presupuestos" ADD CONSTRAINT "presupuestos_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "presupuestos" ADD CONSTRAINT "presupuestos_membresiaId_fkey" FOREIGN KEY ("membresiaId") REFERENCES "membresias"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "presupuestos" ADD CONSTRAINT "presupuestos_membresiaFinalizaId_fkey" FOREIGN KEY ("membresiaFinalizaId") REFERENCES "membresias"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lineas_presupuesto" ADD CONSTRAINT "lineas_presupuesto_presupuestoId_fkey" FOREIGN KEY ("presupuestoId") REFERENCES "presupuestos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lineas_presupuesto" ADD CONSTRAINT "lineas_presupuesto_productoId_fkey" FOREIGN KEY ("productoId") REFERENCES "productos"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pedidos" ADD CONSTRAINT "pedidos_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pedidos" ADD CONSTRAINT "pedidos_presupuestoId_fkey" FOREIGN KEY ("presupuestoId") REFERENCES "presupuestos"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ordenes_trabajo" ADD CONSTRAINT "ordenes_trabajo_pedidoId_fkey" FOREIGN KEY ("pedidoId") REFERENCES "pedidos"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cuentas" ADD CONSTRAINT "cuentas_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "movimientos" ADD CONSTRAINT "movimientos_cuentaId_fkey" FOREIGN KEY ("cuentaId") REFERENCES "cuentas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "movimientos" ADD CONSTRAINT "movimientos_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "usuarios"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "configuracion" ADD CONSTRAINT "configuracion_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notificaciones" ADD CONSTRAINT "notificaciones_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notificaciones" ADD CONSTRAINT "notificaciones_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "usuarios"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ordenes_compra" ADD CONSTRAINT "ordenes_compra_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ordenes_compra" ADD CONSTRAINT "ordenes_compra_proveedorId_fkey" FOREIGN KEY ("proveedorId") REFERENCES "proveedores"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lineas_orden_compra" ADD CONSTRAINT "lineas_orden_compra_ordenCompraId_fkey" FOREIGN KEY ("ordenCompraId") REFERENCES "ordenes_compra"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lineas_orden_compra" ADD CONSTRAINT "lineas_orden_compra_insumoId_fkey" FOREIGN KEY ("insumoId") REFERENCES "insumos"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lineas_orden_compra" ADD CONSTRAINT "lineas_orden_compra_productoId_fkey" FOREIGN KEY ("productoId") REFERENCES "productos"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recepciones_mercaderia" ADD CONSTRAINT "recepciones_mercaderia_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recepciones_mercaderia" ADD CONSTRAINT "recepciones_mercaderia_proveedorId_fkey" FOREIGN KEY ("proveedorId") REFERENCES "proveedores"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recepciones_mercaderia" ADD CONSTRAINT "recepciones_mercaderia_ordenCompraId_fkey" FOREIGN KEY ("ordenCompraId") REFERENCES "ordenes_compra"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lineas_recepcion" ADD CONSTRAINT "lineas_recepcion_recepcionId_fkey" FOREIGN KEY ("recepcionId") REFERENCES "recepciones_mercaderia"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lineas_recepcion" ADD CONSTRAINT "lineas_recepcion_insumoId_fkey" FOREIGN KEY ("insumoId") REFERENCES "insumos"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lineas_recepcion" ADD CONSTRAINT "lineas_recepcion_productoTalleId_fkey" FOREIGN KEY ("productoTalleId") REFERENCES "productos_talles"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lineas_recepcion" ADD CONSTRAINT "lineas_recepcion_lineaOrdenCompraId_fkey" FOREIGN KEY ("lineaOrdenCompraId") REFERENCES "lineas_orden_compra"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cambios_precio_programados" ADD CONSTRAINT "cambios_precio_programados_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cambios_precio_programados" ADD CONSTRAINT "cambios_precio_programados_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "usuarios"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comprobantes" ADD CONSTRAINT "comprobantes_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comprobantes" ADD CONSTRAINT "comprobantes_clienteId_fkey" FOREIGN KEY ("clienteId") REFERENCES "clientes"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comprobantes" ADD CONSTRAINT "comprobantes_proveedorId_fkey" FOREIGN KEY ("proveedorId") REFERENCES "proveedores"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comprobantes" ADD CONSTRAINT "comprobantes_pedidoId_fkey" FOREIGN KEY ("pedidoId") REFERENCES "pedidos"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "movimientos_cc" ADD CONSTRAINT "movimientos_cc_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES "empresas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "movimientos_cc" ADD CONSTRAINT "movimientos_cc_clienteId_fkey" FOREIGN KEY ("clienteId") REFERENCES "clientes"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "movimientos_cc" ADD CONSTRAINT "movimientos_cc_proveedorId_fkey" FOREIGN KEY ("proveedorId") REFERENCES "proveedores"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "movimientos_cc" ADD CONSTRAINT "movimientos_cc_comprobanteId_fkey" FOREIGN KEY ("comprobanteId") REFERENCES "comprobantes"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "etapas_pedido" ADD CONSTRAINT "etapas_pedido_pedidoId_fkey" FOREIGN KEY ("pedidoId") REFERENCES "pedidos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "etapas_pedido" ADD CONSTRAINT "etapas_pedido_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "usuarios"("id") ON DELETE SET NULL ON UPDATE CASCADE;

